.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.min-vh-65 {
    min-height: 64vh; !important
}

.w-10 {
    width: 10%;
}

.card-body-home{
    flex:1 1 auto;
    min-height:1px;
    padding: 1.25rem 1.25rem 1.25rem 0;
    max-width: 90%;
}

.article-body p {
    word-break: break-all; !important
    white-space: normal; !important
    text-align: justify; !important
}

.article-body {
    width: 100%;
}

.object-cover {
    object-fit: cover;
}

.card-name-text {
    font-size: 14px;
}

.card-btn {
    margin: 5px;
}

.article-body img {
    width: 100%;
    max-height: 750px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius:.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-body h1 {
    font-size: 36px;
}

.article-body h2 {
    font-size: 30px;
}

.article-body h3 {
    font-size: 24px;
}

.article-body h4 {
    font-size: 20px;
}

.article-subtitle {
    width: 95%;
    color: #68717A;
}

.hr-style{
    border: 2px solid black;
    border-radius: 2px;
    width: 45%;
    margin-right:55% !important;
}

