.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.min-vh-65 {
    min-height: 64vh; !important
}

.article-body {
    word-break: break-all; !important
    white-space: normal; !important
    text-align: justify; !important
}