
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


#__next {
    position: absolute;
    background: radial-gradient(#1C1F2C 30%, #0D0E14);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white
}

.modal .close {
    color: white
}

.modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
    color: white;
    opacity: 75%;
}

.h-75px {
    height: 75px;
}


.min-vh-65 {
    min-height: 64vh !important;
}

.w-10 {
    width: 10%;
}

.card-body-home{
    flex:1 1 auto;
    min-height:1px;
    padding: 1.25rem 1.25rem 1.25rem 0;
    max-width: 90%;
}

.article-body p {
    word-break: normal !important;
    white-space: pre-wrap !important;
    text-align: justify !important;
    margin: 0 !important;
    margin-top: -15px !important;
}

.article-body ul,ol {
    margin-top: -20px !important;
}

.article-body {
    word-break: normal !important;
    width: 65%;
    white-space: pre-wrap!important;
    color: white;
}

.text-underline {
    text-decoration: underline;
}

.text-underline:hover {
    text-decoration: underline !important;
}


.card-name-text {
    font-size: 14px;
}

.card-btn {
    margin: 5px;
}

.creator-card{
    height: 75px;
}

.img-container {
    width: 50px; /*any size*/
    height: 50px; /*any size*/
    min-width: 50px;
}
.img-container-article {
    width: 50px; /*any size*/
    height: 50px; /*any size*/
}
.img-container-profile {
    width: 10px; /*any size*/
    height: 10px; /*any size*/
}
.img-container-navbar {
    width: 40px; /*any size*/
    height: 40px; /*any size*/
}
.img-container-comment {
    width: 50px; /*any size*/
    height: 50px; /*any size*/
}
.object-fit-cover {
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
}

.object-fit-contain {
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /*magic*/
}

.custom-rounded-corners{
    border-radius: 0 0.5rem 0.5rem 0;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.unset {
    background-color: transparent;
}

.article-body img {
    width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius:.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-body h1 {
    font-size: 36px;
}

.max-h-300px {
    max-height: 300px;
}

.article-body h2 {
    font-size: 30px;
}

.article-body h3 {
    font-size: 24px;
}

.article-body h4 {
    font-size: 20px;
}

.upvoted {
    color: #8ea7e8;
    font-weight: bold;
}

.downvoted {
    color: #E84646 ;
    font-weight: bold;
}

.text-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.text-ellipsis-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis {

}

.max-h-40px {
    max-height: 40px;
    min-height: 30px;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.w-85{
    width: 85%;
}

.w-70{
    width: 70% !important;
}

.object-cover {
    object-fit: cover;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.svg-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.container-xxl {
    max-width: 1500px;
}

.h-fit {
    height: fit-content !important;
}

.quality-indicator {
    border-radius: 3px;
    background: white;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.info-profile-btn{
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;

}

.info-function{
    padding: 14px 24px;
    border: 1px solid #606060;
    border-radius: 4px;
}

.info-profile-btn:focus{
    outline: none;
}

.info-custom-box{
    position: absolute;
    right: 35px;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 16px;
    padding: 4px 8px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    width: 85px;
    justify-content: center;
    cursor: default;
}

.info-enabled{
    color: green;
    background-color: #28352b;
}

.add-admin-btn{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
}

.border-color-transparent{
    border-color: transparent;
}

.border-color-transparent:focus{
    border-color: transparent;
}

.btn:focus{
    box-shadow: none;
}

.custom-btn-follow{
    height: 23px;
}

.info-disabled{
    color: #aaa;
    background-color: #606060;
}

.reports-indicator {
    position: absolute;
    top: 10px;
    width: 80px;
    right: 10px;
    z-index: 2;
}
.quality-indicator-news-view {
    border-radius: 5px;
    background: white;
    height: 30px;
    width: 30px;
}

.max-w-75 {
    max-width: 75%;
}

.w-fit {
    width: fit-content;
}

.bg-positivity{
    border-radius: 0.5rem;
    background: #8ea7e8;
}

.logo {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}
.back-button {
    position: absolute ;
    margin-left: 4%;
    margin-top: 2%
}

.profile-img {
    width: 24px;
    padding-right: 5px
}

.bg-dropdown {
    background: #181414
}

.min-w-150px {
    min-width: 150px
}

.search-form {
    background-size: 20px !important;
    padding-left: 2.5rem;
    background: rgba(58, 60, 74, 0.5) no-repeat 5% 50%;
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.search-form:focus{
    background-color: rgba(58, 60, 74, 0.5);
    border-color: rgba(58, 60, 74, 0.5);
}

#searchBar_addAdmin.search-form{
    background-size: 20px !important;
    padding-left: 2.5rem;
    background: rgba(58, 60, 74, 0.5) no-repeat 1% 50%;
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.btn-outline-focus-none:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.border-red {
    border: solid red
}

.back-button-show-news {
    position: absolute ; margin-left: 50px; margin-top: 50px
}

.back-button-img {
    max-width: 7%; max-height: 7%
}

#navbar-dropdown.dropdown-menu {
    min-width:inherit;
}

#navbar-dropdown .dropdown-item:hover{
    background-color: #8ea7e8;
}

.bookmark{
    cursor: pointer;
}

.report-count {
    border-radius: 50%!important;
    width: 24px;
    height: 24px
}

.w-50px {
    width: 50px;
}

.w-55 {
    width: 55% !important;
}

.moderation-img {
    width: 24px;
    padding-right: 5px
}

.mh-10 {
    max-height: 10%;
}

.bin-image {
    width: 24px;
    margin-top: 2px
}

.bin-modal {
    background: none; outline: none; margin-bottom: 4px
}

.right-card {
    height: fit-content;
    margin-top: 4%;
    max-width: 100%
}

.w-30 {
    width: 30%;
}

.border-15px {
    border-radius: 15px;
}

.w-25px {
    width: 25px;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto
}

.outline-none {
    outline: none;
}

.max-h-10 {
    max-height: 10%;
}

.top-creators {
    color: white; padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10%;
}

#bookmark-news{
    cursor: pointer;
}

.upvote,.downvote {
    cursor: pointer;
}
.upvote-div-profile {
    width: 50px;
}
.upvote-div-home {
    width: 30px;
}

.selected {
    font-weight: bold;
    color: white;
}

.nax-w-750px {
    max-width: 750px;
}

.selected:hover{
    color: #8ea7e8;
}

.select {
    font-weight: bold;
    color: #8ea7e8;
}

.select:hover{
    color: #8ea7e8;
}

.hover-hand {
    cursor: pointer;
}

.delete-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.comment-text {
    word-break: break-word;
    white-space: pre-wrap;
    -moz-white-space: pre-wrap;
}


@media(min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .align-center-xl {
        align-self: center !important;
    }
}

.article-subtitle {
    width: 90%;
    color: #68717A;
}

.hr-style{
    border: 2px solid black;
    border-radius: 2px;
    width: 45%;
    margin-right:55% !important;
}

.comment{
    height: 100px;
    width: 500px;
}

.card{
    border-radius: 0.5rem;
    background: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
}

#add_admin_card.card:hover{
    transform: none;
    transition: none;
    box-shadow: none;
}

#none_shadow.card:hover{
    transform: none !important;
    transition: none !important;
    box-shadow: none !important;
}

#none_shadow.card{
    box-shadow: none;
    margin-top: 2rem!important;
}

#none_shadow_creator.card:hover{
    transform: none;
    transition: none;
    box-shadow: none;
    color: #1e1e2d !important;
}

#none_shadow_creator.card{
    box-shadow: none;
}

#none_shadow_creator{
    background: #1e1e2d;
}

#none_shadow_creator:hover{
    background: #8ea7e8;
    transition: background-color 1s ease !important;
}

#name_card:hover{
    color: white;
}



#bin_button:focus{
    box-shadow: none;
}

#title-principal-card:hover{
    color: #8ea7e8;
}

#title-principal-card{
    color: white;
    max-height: 10%;
}

/** {*/
/*    color: white;*/
/*}*/

.op-09 {
    opacity: 0.9;
}

.read-clock {
    width: 15px;
    margin-top: 1px
}

#pencil_button:hover{
    color: white;
}

#pencil_button {
    font-size: 12px;
}

.nav-link.active.rounded-pill {
    background-color: #8ea7e8 !important;
}
.nav-link.tabs {
    background: transparent !important;
    border: 0;
    color: white;

}
.nav-link.tabs:hover {
    color: white;
}

.nav-link.tabs.active:hover {
    color: white;
}
.nav-link.tabs.active {
    border-bottom: none;
    color: #8ea7e8!important;
}

.nav-link.tabs:after{
    display:block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.custom-style-progress-bar{
    background-color: #8ea7e8;
    color: black;
}

.nav-link.tabs:hover:after{
    transform: scaleX(1);
}

.nav-link.fromLeft:after{  transform-origin:  0% 50%; }

#profile_name_card:hover{
    color: #8ea7e8;
}

.link {
    text-decoration: none !important;
    color: white;
}

.link .link-text:hover {
    color: #8ea7e8 !important;
    text-decoration: none;
}

.nav.nav-tabs {
    border: 0;
}

#profile_name_card{
    color: white;
}

#profile_name_card_show_news{
    color: white;
}

#profile_name_card_show_news:hover{
    color: #8ea7e8;
}

#span_category:hover{
    color: white;
}

.modal-header{
    background: #181414;
}

.modal-content{
    background: #181414;
}

.modal-footer{
    background: #181414;
}

#username-input{
    background: #2c2c2c80;
    border-radius: 0.5rem;
    border-color: #2c2c2c80;
}

#description-input{
    background: #2c2c2c80;
    border-radius: 0.5rem;
    border-color: #2c2c2c80;
}

#basic-addon1{
    background: #181414;
    border-radius: 0.5rem;
    border-color: transparent;
}

#file-input-label{
    background: #2c2c2c80;
    border-radius: 0.5rem;
    border-color: #2c2c2c80;
}

#file-input{
    cursor: pointer;
}

.custom-file-label::after {
    background: transparent;
}

.form-signin-index {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
}
.form-signin-index .checkbox {
    font-weight: 400;
}
.form-signin-index .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin-index .form-control:focus {
    z-index: 2;
}
.form-signin-index input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin-index input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#form-login-index .form-control{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2;
    background: none;
    color: #C2C2CC;
}

#form-login-index .form-control::placeholder{
    color: #C2C2CC;
}

#form-login-index .form-control:focus{
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2;
    color: #C2C2CC;
}

#form-login-index input:-webkit-autofill,
#form-login-index input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.size-img-modal-login{
    height: 24px;
}

#custom-form-group input{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#custom-form-group .CodeMirror{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#custom-form-group .editor-toolbar{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
    margin-bottom: 5px;
}

.custom-file-input-label{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#fileInput{
    cursor: pointer;
}

.custom-file-input:focus{
    border: none;
}

.editor-toolbar button {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #777 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 80%;
    height: 30px;
    margin: 0;
    text-align: center;
    text-decoration: none!important;
    width: 30px;
    background-color: transparent;
}

.back-btn{
    height: 24px;
}

.custom-comment-area{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.custom-comment-area:focus{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.bg-hover:hover{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    margin-right: 5rem;
}

.bg-hover .img:hover{
    fill: #8ea7e8;
}

.hover-pill:hover {
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
}

.medium-pill{
    max-height: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icon-news{
    height: 30px;
    width: 30px;
}

.icon-news-delete{
    width: 35px;
    margin-bottom: 4px;
}

.icon-profile{
    height: 25px;
    width: 25px;
}

.bg-black {
    background-color: #0a0a0e;
}

.rounded-comment {
    border-radius: 30px;
}

.gap-4px {
    gap: 4px;
}

.icon-index{
    height: 25px;
    width: 25px;
}

.icon-comment{
    height: 25px;
    width: 25px;
}

.custom-follow-text{
    margin-left: 6px;
    color: #95a5a6;
}

.frame-navbar img#default-frame-color{
    border:2px solid #8ea7e8;
}

.frame-navbar img#gold-frame-color{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) border-box;
    border: 2px solid transparent;
}

.frame-navbar img#platinum-frame-color{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e80033, #fdbb30, #ed8b00, #f15d22, #bf0d3e, #910048) border-box;
    border: 2px solid transparent;
}

.index-dropdown{
    background:  #1e1e2d;
    margin-left: 1px;
}

.dropdown-items{
    color: white;
    padding-left:1rem;
}

.dropdown-items:hover{
    color: #8ea7e8;
    background-color: transparent;
    text-decoration: none;
}

li{
    list-style: none;
}