/** {*/
/*    word-break: break-all;*/
/*}*/

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.min-vh-65 {
    min-height: 64vh; !important
}

.w-10 {
    width: 10%;
}
.svg-bookmark {
    width: 40px !important;
}

.card-body-home{
    flex:1 1 auto;
    min-height:1px;
    padding: 1.25rem 1.25rem 1.25rem 0;
    max-width: 90%;
}

.article-body p {
    word-break: break-all; !important
    white-space: pre-wrap; !important
    text-align: justify; !important
}

.article-body {
    width: 65%;
    white-space: pre-wrap!important;
    color: white;
}


.card-name-text {
    font-size: 14px;
}

.card-btn {
    margin: 5px;
}

.creator-card{
    height: 75px;
}

.img-container {
    width: 50px; /*any size*/
    height: 50px; /*any size*/
    min-width: 50px;
}
.img-container-article {
    width: 50px; /*any size*/
    height: 50px; /*any size*/
}
.img-container-navbar {
    width: 40px; /*any size*/
    height: 40px; /*any size*/
}
.object-fit-cover {
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
}

.custom-rounded-corners{
    border-radius: 0 0.5rem 0.5rem 0;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.article-body img {
    width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius:.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-body h1 {
    font-size: 36px;
}

.article-body h2 {
    font-size: 30px;
}

.article-body h3 {
    font-size: 24px;
}

.article-body h4 {
    font-size: 20px;
}

.upvoted {
    color: #8ea7e8;
    font-weight: bold;
}

.downvoted {
    color: #E84646 ;
    font-weight: bold;
}

.text-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-ellipsis-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis {

}

.max-h-40px {
    max-height: 40px;
    min-height: 30px;
}

.object-cover {
    object-fit: cover;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.svg-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.container-xxl {
    max-width: 1500px;
}

.h-fit {
    height: fit-content !important;
}

.quality-indicator {
    border-radius: 3px;
    background: white;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.reports-indicator {
    position: absolute;
    top: 10px;
    width: 80px;
    right: 10px;
    z-index: 2;
}
.quality-indicator-news-view {
    border-radius: 5px;
    background: white;
    height: 30px;
    width: 30px;
}

.max-w-75 {
    max-width: 75%;
}

.w-fit {
    width: fit-content;
}

/*.negative {
    background-color: #d62c1a;
}

.positive {
    background-color: #0f7864;
}

.controversial {
    background-color: #d4860b;
}*/

.bg-positivity{
    border-radius: 0.5rem;
    background: #8ea7e8;
}

.logo {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}
.back-button {
    position: absolute ;
    margin-left: 4%;
    margin-top: 2%
}

.profile-img {
    width: 24px;
    padding-right: 5px
}

.bg-dropdown {
    background: #181414
}

.min-w-150px {
    min-width: 150px
}

.search-form {
    /*background-position: left center;*/
    background-size: 20px !important;
    padding-left: 2.5rem;
    background: rgba(58, 60, 74, 0.5) no-repeat 5% 50%;
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.search-form:focus{
    background-color: rgba(58, 60, 74, 0.5);
    border-color: rgba(58, 60, 74, 0.5);
}

.btn-outline-focus-none:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.border-red {
    border: solid red
}

.back-button-show-news {
    position: absolute ; margin-left: 50px; margin-top: 50px
}

.back-button-img {
    max-width: 7%; max-height: 7%
}



.news-bookmark {
    height: 30px;
}
#navbar-dropdown.dropdown-menu {
    min-width:inherit;
}

#navbar-dropdown .dropdown-item:hover{
    background-color: #8ea7e8;
}

/*#navbar-dropdown.dropdown-menu{
    padding-left: 0.7rem!important;
}*/

/*.bottom-left {*/
/*    position: fixed;*/
/*    top:100vh;*/
/*    left: 1%;*/
/*    transform:translateY(-110%);*/
/*    width:23%;*/
/*}*/

#add-admin:hover{
    transform: none;
    transition: none;
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
}

.bookmark{
    cursor: pointer;
    width: 25px !important;
}

.report-count {
    border-radius: 50%!important;
    width: 24px;
    height: 24px
}

.w-50px {
    width: 50px;
}

.w-70 {
    width: 70%;
}

.moderation-img {
    width: 24px;
    padding-right: 5px
}

.mh-10 {
    max-height: 10%;
}

.bin-image {
    width: 24px;
    margin-top: 2px
}

.bin-modal {
    background: none; outline: none; margin-bottom: 4px
}

.right-card {
    width: 18rem;
    height: fit-content;
    margin-top: 4%
}

.w-30 {
    width: 30%;
}

.border-15px {
    border-radius: 15px;
}

.w-25px {
    width: 25px;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto
}

.outline-none {
    outline: none;
}

.max-h-10 {
    max-height: 10%;
}

.top-creators {
    color: white; padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10%;
}

#bookmark-news{
    cursor: pointer;
    width: 35px !important;
}

.upvote,.downvote {
    cursor: pointer;
}
.upvote-div-profile {
    width: 50px;
}
.upvote-div-home {
    width: 30px;
}

/*.vertical-menu li + li {*/
/*    border-top: solid #dee2e6 1px;*/
/*}*/

.selected {
    font-weight: bold;
    color: white;
}

.nax-w-750px {
    max-width: 750px;
}

.selected:hover{
    color: #8ea7e8;
}

.hover-hand {
    cursor: pointer;
}

.delete-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#comment {
    white-space: pre;
}


@media(min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .align-center-xl {
        align-self: center !important;
    }
}

.article-subtitle {
    width: 95%;
    color: #68717A;
}

.hr-style{
    border: 2px solid black;
    border-radius: 2px;
    width: 45%;
    margin-right:55% !important;
}

.comment{
    height: 100px;
    width: 500px;
}



.card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
}

.card{
    /*box-shadow: 0 2px 2px rgba(0,0,0,.25);*/
    border-radius: 0.5rem;
    background: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
}

#none_shadow.card:hover{
    transform: none !important;
    transition: none !important;
    box-shadow: none !important;
}

#none_shadow.card{
    box-shadow: none;
}

#none_shadow_creator.card:hover{
    transform: none;
    transition: none;
    box-shadow: none;
    color: #1e1e2d !important;
}

#none_shadow_creator.card{
    box-shadow: none;
}

#none_shadow_creator{
    /*background: rgb(30,30,45);
    background: linear-gradient(125deg, rgba(30,30,45,1) 0%, rgba(142,167,232,1) 53%, rgba(167,185,235,1) 93%);
    -webkit-transition: background-color 2s ease-out !important;
    -moz-transition: background-color 2s ease-out !important;
    -o-transition: background-color 2s ease-out !important;
    transition: background-color 2s ease-out !important;*/
    background: #1e1e2d;
}

#none_shadow_creator:hover{
    /*background: rgba(30,30,45,1);
    cursor: pointer;*/
    background: #8ea7e8;
    transition: background-color 1s ease !important;
}

#name_card:hover{
    color: white;
}

body{
    /*background: rgb(30,30,45);
    background: linear-gradient(180deg, rgba(30,30,45,1) 0%, rgba(142,167,232,1) 20%, rgba(167,185,235,1) 43%, rgba(217,219,241,1) 67%, rgba(255,246,246,1) 100%);*/
    /*background: #fff6f6;*/
    background: radial-gradient(#1C1F2C 30%, #0D0E14);
}

#bin_button:focus{
    box-shadow: none;
}

#title-principal-card:hover{
    color: #8ea7e8;
}

#title-principal-card{
    color: white;
    max-height: 10%;
}

* {
    color: white;
}

.op-09 {
    opacity: 0.9;
}

.read-clock {
    width: 15px;
    margin-top: 1px
}

#pencil_button:hover{
    color: white;
}

.nav-link.active.rounded-pill {
    background-color: #8ea7e8 !important;
}
.nav-link.tabs {
    background: transparent !important;
    border: 0;
    color: white;

}
.nav-link.tabs:hover {
    color: white;
}

.nav-link.tabs.active:hover {
    color: white;
}
.nav-link.tabs.active {
    border-bottom: none;
    color: #8ea7e8!important;
}

.nav-link.tabs:after{
    display:block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link.tabs:hover:after{
    transform: scaleX(1);
}

.nav-link.fromLeft:after{  transform-origin:  0% 50%; }

#profile_name_card:hover{
    color: #8ea7e8;
}

.link {
    text-decoration: none !important;
    color: white;
}

.link .link-text:hover {
    color: #8ea7e8 !important;
    text-decoration: none;
}

.nav.nav-tabs {
    border: 0;
}

#profile_name_card{
    color: white;
}

#profile_name_card_show_news{
    color: white;
}

#profile_name_card_show_news:hover{
    color: #8ea7e8;
}

#span_category:hover{
    color: white;
}

.modal-header{
    background: #181414;
}

.modal-content{
    background: #181414;
}

.modal-footer{
    background: #181414;
}

#username-input{
    background: #2c2c2c80;
    border-radius: 0.5rem;
    border-color: #2c2c2c80;
}

#basic-addon1{
    background: #181414;
    border-radius: 0.5rem;
    border-color: transparent;
}

#file-input-label{
    background: #2c2c2c80;
    border-radius: 0.5rem;
    border-color: #2c2c2c80;
}

#file-input{
    cursor: pointer;
}

.custom-file-label::after {
    background: transparent;
}

.form-signin-index {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
}
.form-signin-index .checkbox {
    font-weight: 400;
}
.form-signin-index .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin-index .form-control:focus {
    z-index: 2;
}
.form-signin-index input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin-index input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#form-login-index .form-control{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2;
    background: none;
    color: #C2C2CC;
}

#form-login-index .form-control::placeholder{
    color: #C2C2CC;
}

#form-login-index .form-control:focus{
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2;
    color: #C2C2CC;
}

#form-login-index input:-webkit-autofill,
#form-login-index input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.size-img-modal-login{
    height: 24px;
}

#custom-form-group input{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#custom-form-group .codeMirror{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#custom-form-group .editor-toolbar{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
    margin-bottom: 5px;
}

.custom-file-input-label{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

#fileInput{
    cursor: pointer;
}

.custom-file-input:focus{
    border: none;
}

.back-btn{
    height: 24px;
}

.custom-comment-area{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}

.custom-comment-area:focus{
    background: rgba(58, 60, 74, 0.5);
    border-radius: 0.5rem;
    border-color: rgba(58, 60, 74, 0.5);
}


